.footer {
    height: 630px;
    position: relative;
    &__menu {
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 0 56px 0;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &__addr {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: $white-text;
        margin-bottom: 36px;
        text-align: center;
    }
    &__tel {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: $white-text;
        text-decoration: underline;
        margin-bottom: 36px;
        &:hover {
            color: $white-text;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
    }
    &__social-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        border: 2px solid $white-text;
        border-radius: 100%;
        color: $white-text;
        transition: all 0.5s;
        &:hover {
            color: $main-color;
            transition: all 0.5s;
            background-color: $white-text;
        }
    }
}