.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $black-text;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    &_white{
        font-size: 36px;
        line-height: 54px;
        color: $white-text;
        width: 799px;
        text-align: start;
    }
    &_catalog {
        font-weight: 500;
    }
}
.consultation {
    .title {
        animation: flipInXTitle 1s ease-in forwards 0.4s;
        opacity: 0;
    }
}

